body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: sans-serif;
  transition: 0.2s;
}

a,
input {
  color: #fff;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

li {
  display: contents;
}

nav a {
  text-decoration: none;
  background: #222;
  padding: 1rem;
  min-width: 21vw;
  text-align: center;
  color: #eee;
}

nav a:hover {
  background: #555;
}

input {
  background: #222;
  border: 1px solid #111;
  padding: 1rem;
}

input:invalid {
  background: #622;
}

input[type='submit'],
input[type='buttoon'] {
  cursor: pointer;
}

input[type='submit']:hover,
input[type='button']:hover {
  background: #333;
}

.spacer {
  flex: 1;
}

#blob {
  position: fixed;
  inset: 0;
  pointer-events: none;
  --accent: #000;
  z-index: -1;
  background: radial-gradient(var(--accent), transparent);
}
